#wp-admin-bar-blog a img, #wp-admin-bar-blog a img:hover {
     margin-top: 6px;
     width: 16px;
}

#wpadminbar .quicklinks li#wp-admin-bar-blog ul {
     min-width: 200px;
}

#wpadminbar .quicklinks li:hover > div > ul, #wpadminbar .quicklinks li.hover > div > ul {
     display: block;
}

#wpadminbar .quicklinks ul li ul a img {
     margin-right: 6px;
     vertical-align: text-top;
}

#wpadminbar .quicklinks li#wp-admin-bar-my-account-with-avatar a img, #wpadminbar .quicklinks li#wp-admin-bar-blog a img {
     margin: -3px 0pt 0pt 6px;
}

#wpadminbar .quicklinks li#wp-admin-bar-blog > a img {
     background: none repeat scroll 0pt 0pt #EEEEEE;
     border: 1px solid #999999;
     display: inline;
     float: none;
     height: 16px;
     margin: -3px 5px 0pt -5px;
     padding: 0pt;
     vertical-align: middle;
     width: 16px;
}

#wpadminbar {
     background-color: #464646;
     background-image: -moz-linear-gradient(center bottom , #3F3F3F, #464646 5px);
     box-shadow: 0pt -1px 0pt rgba(0, 0, 0, 0.15) inset;
}

#wpadminbar .quicklinks > ul > li > a, #wpadminbar .quicklinks > ul > li > a:hover, #wpadminbar .quicklinks li#wp-admin-bar-my-account-with-avatar > a, #wpadminbar .quicklinks li#wp-admin-bar-notes > a {
     border-left: medium none;
     border-right: 1px solid #333333;
     box-shadow: 1px 0pt 0pt #525252;
     padding-left: 0.8em;
     padding-right: 0.8em;
}

#wpadminbar .quicklinks .menupop:hover {
     z-index: 100100;
}

#wpadminbar .quicklinks .menupop:hover > a, #wpadminbar #wp-admin-bar-my-account > a:hover, #wpadminbar #wp-admin-bar-my-account-with-avatar > a:hover {
     background: none repeat scroll 0% 0% #FFFFFF ! important;
     border-color: #FFFFFF ! important;
     box-shadow: 1px 0pt #F1F1F1 inset;
}

#wpadminbar #wp-admin-bar-my-account > a:hover, #wpadminbar #wp-admin-bar-my-account-with-avatar > a:hover, #wpadminbar .quicklinks li#wp-admin-bar-notes > a:hover {
     border-right-color: #F1F1F1 ! important;
}

#wpadminbar .menupop:hover > ul li:hover, #wpadminbar .quicklinks #wp-admin-bar-blog .menupop:hover > a {
     background: none repeat scroll 0% 0% transparent ! important;
}

#wpadminbar .quicklinks #wp-admin-bar-blog > ul {
     padding-bottom: 0pt;
}

#wpadminbar .quicklinks #wp-admin-bar-blog ul ul {
     padding-bottom: 6px;
}

#wpadminbar .quicklinks #wp-admin-bar-blog .blog-member {
     background: none repeat scroll 0% 0% #EEEEEE ! important;
}

#wpadminbar .quicklinks #wp-admin-bar-blog .blog-member a:hover {
     background: none repeat scroll 0% 0% #DFDFDF ! important;
}

#wpadminbar .quicklinks #wp-admin-bar-blog .menu-item-random-post.blog-member {
     border-top: 1px solid #DFDFDF;
     margin-top: 6px;
     padding-top: 5px;
}

#wpadminbar .quicklinks #wp-admin-bar-blog .blog-member:last-child {
     padding-bottom: 5px;
}

#wpadminbar .quicklinks .menupop ul, #wpadminbar li.ab-right ul, #wpadminbar .quicklinks .menupop #wp-admin-bar-notes-panel {
     background: none repeat scroll 0% 0% #FFFFFF;
     border: 1px solid #F1F1F1;
     box-shadow: 0pt 4px 6px rgba(0, 0, 0, 0.25);
     margin: -1px 0pt 0pt;
     padding: 6px 0pt 0pt;
     position: absolute;
     z-index: -1;
}

#wpadminbar .quicklinks .menupop ul li a, #wpadminbar .quicklinks .menupop ul li a span, #wpadminbar .quicklinks .menupop ul li a strong {
     color: #21759B;
     height: 26px;
     line-height: 26px;
     min-width: 140px;
     text-shadow: none;
     white-space: nowrap;
}

#wpadminbar .quicklinks .menupop ul li:hover > a {
     color: #21759B;
     text-shadow: none;
}

#wpadminbar .quicklinks li:hover {
     background: none repeat scroll 0% 0% transparent;
}

#wpadminbar .quicklinks li:hover a, #wpadminbar .quicklinks li:hover span {
     color: #FFFFFF;
}

#wpadminbar .quicklinks ul > .menupop:hover > a span {
     color: #333333;
     text-shadow: none;
}

#wpadminbar .quicklinks .menupop li a:hover, #wpadminbar .quicklinks .menupop ul li a:hover, #wpadminbar #wp-admin-bar-my-account-info-panel a:hover, #wpadminbar .quicklinks li#wp-admin-bar-my-account-with-avatar ul ul a:hover, #wpadminbar .quicklinks #wp-admin-bar-blog .menupop:hover > a:hover {
     background-color: rgba(214, 229, 243, 0.3) ! important;
     color: #21759B ! important;
     text-shadow: none ! important;
}

#wpadminbar .quicklinks .menupop ul li:hover > a span {
     color: #21759B;
     text-shadow: none ! important;
}

#wpadminbar .quicklinks li.last {
     border-right: 1px solid #333333;
}

#wpadminbar .quicklinks #wp-admin-bar-blog #wp-admin-bar-comments .comment-moderation-count {
     background: none repeat scroll 0% 0% #21759B;
     border-radius: 1em 1em 1em 1em;
     color: #FFFFFF;
     display: inline;
     font-size: 11px;
     margin-left: 2px;
     padding: 1px 6px;
}
#wpadminbar * {
     color: #DDDDDD;
     font: 13px/28px Arial,Helvetica,sans-serif;
     height: auto;
     letter-spacing: normal;
     margin: 0pt;
     padding: 0pt;
     position: static;
     text-shadow: 0pt -1px 0pt #555555;
     text-transform: none;
     width: auto;
}

#wpadminbar *:before, #wpadminbar *:after {
     content: normal;
}

#wpadminbar a, #wpadminbar a:hover, #wpadminbar a img, #wpadminbar a img:hover {
     background: none repeat scroll 0% 0% transparent;
     border: medium none;
     outline: medium none;
     text-decoration: none;
}

#wpadminbar {
     color: #DDDDDD;
     direction: ltr;
     font: 12px/28px Arial,Helvetica,sans-serif;
     height: 28px;
     left: 0pt;
     min-width: 960px;
     position: fixed;
     top: 0pt;
     width: 100%;
     z-index: 99999;
}

#wpadminbar ul, #wpadminbar ul li {
     background: none repeat scroll 0% 0% transparent;
     list-style: none outside none;
     margin: 0pt;
     padding: 0pt;
     position: relative;
     z-index: 99999;
}

#wpadminbar .quicklinks ul {
     text-align: left;
}

#wpadminbar .quicklinks ul li {
     float: left;
}

#wpadminbar .quicklinks > ul > li > a {
     border-left: 1px solid #808080;
     border-right: 1px solid #686868;
}

#wpadminbar .quicklinks > ul > li:last-child > a {
     border-right: medium none;
}

#wpadminbar .quicklinks > ul > li:hover > a {
     border-left-color: #707070;
}

#wpadminbar .quicklinks a, #wpadminbar .shortlink-input {
     display: block;
     height: 28px;
     margin: 0pt;
     padding: 0pt 0.85em;
}

#wpadminbar .quicklinks a > span {
     line-height: 28px;
}

#wpadminbar .quicklinks .menupop ul, #wpadminbar .shortlink-input {
     -moz-border-bottom-colors: none;
     -moz-border-image: none;
     -moz-border-left-colors: none;
     -moz-border-right-colors: none;
     -moz-border-top-colors: none;
     background: none repeat scroll 0% 0% rgba(255, 255, 255, 0.97);
     border-color: -moz-use-text-color #DFDFDF #DFDFDF;
     border-right: 1px solid #DFDFDF;
     border-style: none solid solid;
     border-width: medium 1px 1px;
     box-shadow: 0pt 4px 8px rgba(0, 0, 0, 0.1);
     display: none;
     float: none;
     position: absolute;
}

#wpadminbar .selected .shortlink-input {
     display: block;
}

#wpadminbar .quicklinks .menupop ul li {
     float: none;
}

#wpadminbar .quicklinks .menupop ul li a strong {
     font-weight: bold;
}

#wpadminbar .quicklinks .menupop ul li a, #wpadminbar .quicklinks .menupop ul li a span, #wpadminbar .quicklinks .menupop ul li a strong, #wpadminbar .shortlink-input {
     color: #555555;
     min-width: 140px;
     text-shadow: none;
     white-space: nowrap;
}

#wpadminbar .shortlink-input {
     width: 200px;
}

#wpadminbar .quicklinks .menupop ul li:hover > a, #wpadminbar .quicklinks .menupop ul li:hover > a span, #wpadminbar .quicklinks .menupop ul li:hover > a strong {
     color: #FFFFFF;
     text-shadow: 0pt -1px 0pt #666666;
}

#wpadminbar.nojq .quicklinks li:hover > ul, #wpadminbar .quicklinks li.hover > ul {
     display: block;
}

#wpadminbar .quicklinks .menupop li:hover > ul, #wpadminbar .quicklinks .menupop li.hover > ul {
     margin-left: 100%;
     margin-top: -28px;
}

#wpadminbar .quicklinks li:hover, #wpadminbar .quicklinks .selected {
     background: -moz-linear-gradient(center bottom , #555555, #3E3E3E) repeat scroll 0% 0% transparent;
}

#wpadminbar .quicklinks .menupop li:hover {
     background: -moz-linear-gradient(center bottom , #888888, #9D9D9D) repeat scroll 0% 0% transparent;
}

#wpadminbar .quicklinks .menupop a > span {
     background: url("../images/admin-bar-sprite.png?d=11122010") no-repeat scroll right -58px transparent;
     display: inline;
     padding-right: 0.8em;
}

#wpadminbar .quicklinks .menupop ul li a > span {
     background: url("../images/admin-bar-sprite.png?d=11122010") no-repeat scroll right -29px transparent;
     display: block;
     padding-right: 1.5em;
}

* html #wpadminbar {
     overflow: hidden;
     position: absolute;
}

* html #wpadminbar .quicklinks ul li a {
     float: left;
}

* html #wpadminbar .menupop a span {
     background-image: none;
}
