#sidemenu {
	padding-top: 28px;
	width: 145px;
	min-height: 100%;
	height: auto;
	float: left;
	position: relative;
	background-color: #ECECEC;
	border-color: #CCCCCC;
	border-style: solid;
	border-width: 0 1px 0 0;
}

#sidemenu > #adminmenu {
	clear: left;
    list-style: none outside none;
    padding: 0;
}

#adminmenu a{
	text-decoration: none;
}

#adminmenu li.topmenu {
	min-height: 26px;
	border-color: #DFDFDF;
	border-style: solid;
    border-width: 0 0 1px;
	position: relative;
	cursor: pointer;
}
#adminmenu .topmenu#home .menu-img {
	background: url("../images/menu.png?ver=20100531") no-repeat scroll -60px -33px transparent;
}
#adminmenu .topmenu#post .menu-img {
	background: url("../images/menu.png?ver=20100531") no-repeat scroll -271px -33px transparent;
}
#adminmenu .topmenu#comment .menu-img {
	background: url("../images/menu.png?ver=20100531") no-repeat scroll -30px -33px transparent;
}
#adminmenu .topmenu#link .menu-img {
	background: url("../images/menu.png?ver=20100531") no-repeat scroll -90px -33px transparent;
}
#adminmenu .topmenu#page .menu-img {
	background: url("../images/menu.png?ver=20100531") no-repeat scroll -150px -33px transparent;
}
#adminmenu .topmenu#poll .menu-img {
	background: url("../images/menu.png?ver=20100531") no-repeat scroll -301px -33px transparent;
}
#adminmenu .topmenu#persona .menu-img {
	background: url("../images/menu.png?ver=20100531") no-repeat scroll -1px -33px transparent;
}
#adminmenu .topmenu#setting .menu-img {
	background: url("../images/menu.png?ver=20100531") no-repeat scroll -241px -33px transparent;
}
#adminmenu .topmenu#home .topmenu-wrap:hover .menu-img {
	background: url("../images/menu.png?ver=20100531") no-repeat scroll -60px -1px transparent;
}
#adminmenu .topmenu#post .topmenu-wrap:hover .menu-img {
	background: url("../images/menu.png?ver=20100531") no-repeat scroll -271px -1px transparent;
}
#adminmenu .topmenu#comment .topmenu-wrap:hover .menu-img {
	background: url("../images/menu.png?ver=20100531") no-repeat scroll -30px -1px transparent;
}
#adminmenu .topmenu#link .topmenu-wrap:hover .menu-img {
	background: url("../images/menu.png?ver=20100531") no-repeat scroll -90px -1px transparent;
}
#adminmenu .topmenu#page .topmenu-wrap:hover .menu-img {
	background: url("../images/menu.png?ver=20100531") no-repeat scroll -150px -1px transparent;
}
#adminmenu .topmenu#poll .topmenu-wrap:hover .menu-img {
	background: url("../images/menu.png?ver=20100531") no-repeat scroll -301px -1px transparent;
}
#adminmenu .topmenu#persona .topmenu-wrap:hover .menu-img {
	background: url("../images/menu.png?ver=20100531") no-repeat scroll -1px -1px transparent;
}
#adminmenu .topmenu#setting .topmenu-wrap:hover .menu-img {
	background: url("../images/menu.png?ver=20100531") no-repeat scroll -241px -1px transparent;
}
#adminmenu .current-top#home .menu-img {
	background: url("../images/menu.png?ver=20100531") no-repeat scroll -60px -1px transparent;
}
#adminmenu .current-top#post .menu-img {
	background: url("../images/menu.png?ver=20100531") no-repeat scroll -271px -1px transparent;
}
#adminmenu .current-top#comment .menu-img {
	background: url("../images/menu.png?ver=20100531") no-repeat scroll -30px -1px transparent;
}
#adminmenu .current-top#link .menu-img {
	background: url("../images/menu.png?ver=20100531") no-repeat scroll -90px -1px transparent;
}
#adminmenu .current-top#page .menu-img {
	background: url("../images/menu.png?ver=20100531") no-repeat scroll -150px -1px transparent;
}
#adminmenu .current-top#poll .menu-img {
	background: url("../images/menu.png?ver=20100531") no-repeat scroll -301px -1px transparent;
}
#adminmenu .current-top#persona .menu-img {
	background: url("../images/menu.png?ver=20100531") no-repeat scroll -1px -1px transparent;
}
#adminmenu .current-top#setting .menu-img {
	background: url("../images/menu.png?ver=20100531") no-repeat scroll -241px -1px transparent;
}
#adminmenu .topmenu .menu-img {
	float: left;
    height: 28px;
    width: 28px;
}
#adminmenu .topmenu  .topmenu-wrap > a {
	border-bottom-color: #DFDFDF;
    border-top-color: #F9F9F9;
	color: #21759B;
	display: block;
	border-style: solid;
    border-width: 1px 0;
    font-weight: bold;
    line-height: 18px;
    min-width: 8em;
    padding: 5px;
}
#adminmenu .current-top  .topmenu-wrap > a {
	border-bottom-color: #6D6D6D;
    border-top-color: #808080;
    color: #FFFFFF;
    text-shadow: 0 -1px 0 #333333;
	background-color: #777777;
    background-image: -moz-linear-gradient(center bottom , #6D6D6D, #808080);
}
#adminmenu .topmenu:not(.current-top) .topmenu-wrap:hover > a{
	color: #D54E21;
}
#adminmenu .menu-toggle {
	clear: right;
    cursor: pointer;
    float: right;
    height: 27px;
    margin: 1px 0 0;
    padding: 1px 2px 0 0;
    width: 18px;
}	
#adminmenu .topmenu .topmenu-wrap:hover .menu-toggle,#adminmenu .current-top .menu-toggle {
	background: url("../images/arrows-dark.png") no-repeat scroll -1px 6px transparent;
}
#adminmenu .topmenu .submenu {
	list-style: none outside none;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 2;
}
#adminmenu .topmenu .submenu ul{
	background-color: #FFFFFF;	
}	
#adminmenu .topmenu .submenu ul li{
	display: block;
	line-height: 16px;
    min-width: 8em;
    padding: 5px;
}
#adminmenu .topmenu .submenu ul li a{
	padding: 2px 5px;	
	color: #21759B;	
	font-size: 14px;
}
#adminmenu .topmenu .submenu ul li:hover{
	background-color: rgba(214, 229, 243, 0.3);
}
#adminmenu .topmenu .submenu ul li:hover a{
	color: #000000;
}
#adminmenu .topmenu .submenu ul li.current a{	
	color: #000000;
	font-weight: bold;	
}
